<form id="frmEquipo" method="post">
    <input type="hidden" id="idEquipo" name="idEquipo">
    <div class="mb-1">
        <label>Nombre del Equipo</label>
        <input type="text" class="form-control" id="txtEquipoNombre" name="txtEquipoNombre">
    </div>
    <div class="mb-1 text-end">
        <button class="btn btn-primary" id="btnGuardar">Guardar</button>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>NombreEquipo</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody id="tbodyEquipos"></tbody>
    </table>
</div>
