<form id="frmIntegrante" method="post">
    <div class="mb-1">
        <label>Nombre del Integrante</label>
        <input type="text" class="form-control" id="txtNombreIntegrante" name="txtNombreIntegrante">
    </div>
    <div class="mb-1 text-end">
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbodyIntegrantes"></tbody>
    </table>
</div>
