{% if equiposintegrantes%}
  {% for equipointegrante in equiposintegrantes %}
    <tr>
      <td>{{ equipointegrante.idEquipoIntegrante  }}</td>
      <td>{{ equipointegrante.idEquipo }}</td>
      <td>{{ equipointegrante.idIntegrante }}</td>
      <td>{{ equipointegrante.nombreEquipo }}</td>
       <td>{{ equipointegrante.fechaUnion }}</td>
      <td>
        <button class="btn btn-danger btn-end btnEliminarEquipoIntegrante" data-id="{{ equipointegrante.idEquipo }}">
          Eliminar
        </button>
      </td>
    </tr>
  {% endfor %}
{% else %}
  <tr>
    <td colspan="2">No hay registros</td>
  </tr>
{% endif %}
