{% if equipos %}
  {% for equipo in equipos %}
    <tr>
      <td>{{ equipo.idEquipo }}</td>
      <td>{{ equipo.nombreEquipo }}</td>
      <td>
        <button class="btn btn-warning btn-sm btnEditarEquipo" 
          data-id="{{ equipo.idEquipo }}" 
          data-nombre="{{ equipo.nombreEquipo }}">
          Editar
        </button>
        <button class="btn btn-danger btn-end btnEliminarEquipo" data-id="{{ equipo.idEquipo }}">
          Eliminar
        </button>
      </td>
    </tr>
  {% endfor %}
{% else %}
  <tr>
    <td colspan="2">No hay registros</td>
  </tr>
{% endif %}
